Este es un archivo de prueba, sin actividades =) .

A partir del próximo módulo: M03_variablesydatos vas a tener actividades para realizar.

In [2]:
    print('Hola Mundo!')
a = 20
while a > 0:
    
    print(a)
    a -= 1

Hola Mundo!
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [1]:
num = "8"
type(num) #obtenemos el tipo de varible

str

In [3]:
int(num) #convertimosa entero num

str

In [4]:
num= int(num) #reasignamos un valor de entero a la variable num
type(num) # vemos el tipo de variable

int

In [5]:
num = "8.5" #string
print (type(num))

<class 'str'>

In [6]:
num3 = float(num) #convertimos a flotantes y guardamos en  nueva variable

In [7]:
print(type(num)) #tipo de variable string
print(type(num3)) #tipo de variable float

<class 'str'>
<class 'float'>

In [8]:
num=4
print(type(num))

<class 'int'>

In [ ]:
num4=float(num) # convertimos en un float y guardamos una nueva variable

In [10]:
print(type(num)) #tipo de variable string
print(type(num4)) # tipo de varialbe float

<class 'int'>

NameError: name 'num4' is not defined

In [14]:
x=10 # declaramos un entero como variable
print(type(x))
y=str(x) # convertimos a string la variable x, que es un entero
print(type(y)) # imprimimos el tipo de dato de y

<class 'int'>
<class 'str'>

In [16]:
w=2.2 # declaramos un variable con un dato de tipo float
print(type(w)) # comprobamos el tipo de dato
z = str(w) # convertimos a string la variable w
print(type(z))

<class 'float'>
<class 'str'>